:root{
    --red: #de0f10;
    --dark-red: #612126;
    --black: #141415;
    --light-black: hsl(240, 2%, 16%);
    --white: #d8d7d8;
    --brown: #3d292b;
}

.sidebar {
    margin: 0;
    padding: 0;
    width: 20rem;
    background-color: var(--blue);
    position: fixed;
    height: 100%;
    overflow: auto;
    background-color: var(--light-black);
}

.sidebar a {
    display: block;
    padding: 1rem;
    text-decoration: none;
    justify-content: center;
    color: var(--white)
}